@model IEnumerable<VPWebSolutions.Data.Entities.Order>

@{
    ViewData["Title"] = "OrdersToCook";
}
@using VPWebSolutions.Data

<h1>Orders To Cook</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @*<th>
                Name
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <ul>
                        @foreach (var oi in item.Items)
                        {
                            <li>
                                @oi.Quantity @oi.MenuItem.Name
                            </li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Customer.Id)
                </td>*@
                <td>
                    @using (Html.BeginForm("UpdateStatus", "Order", new { id = item.Id, redirectTo = "OrdersToCook" }, FormMethod.Post))
                    {
                        <button class="btn btn-primary" type="submit" style="background-color: #F7CE37; color: black">@String.Format("Set status to " + item.Status.Next().ToString())</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    h1, th, td {
        color: #DEC20B;
        font-weight: bold;
    }
</style>
