@model IEnumerable<VPWebSolutions.Data.Entities.Order>

@{
    ViewData["Title"] = "Orders";
}
@using VPWebSolutions.Data 

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            @* TODO: maybe add customer name? *@
            <th>
                @Html.DisplayNameFor(model => model.Items)
            </th>
            <th>
                Delivery Address
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var order in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.Id)
            </td>
            <td>
                <ul>
               @foreach(var oi in order.Items)
                {
                   <li>
                       @oi.Quantity @oi.MenuItem.Name 
                   </li>
                }
                </ul>
            </td>
            @if(order.Customer != null)
            {
                <td>@order.Customer.Address</td>
            }
            else
            {
                <td></td>
            }
            <td>
                @Html.DisplayFor(modelItem => order.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Status)
            </td>
            <td>
                @using (Html.BeginForm("Order", "Order", new { id = order.Id }, FormMethod.Get))
                {
                <button class="btn btn-primary" type="submit" style="background-color:#F7CE37; color:black">View</button>
                }
                @using (Html.BeginForm("UpdateStatus", "Order", new { id = order.Id }, FormMethod.Post))
                {
                    <button class="btn btn-primary" type="submit" style="background-color: #F7CE37; color: black">@String.Format("Set status to " + order.Status.Next().ToString())</button>
                }
                @*@Html.ActionLink("View", "Order", new { id = order.Id }, null) |
        @Html.ActionLink(String.Format("Set status to " + order.Status.Next().ToString()), "UpdateStatus", new { id = order.Id }, null)*@
            </td>
        </tr>
}
    </tbody>
</table>
