@model IEnumerable<VPWebSolutions.Data.Entities.MenuItem>

@{
    ViewData["Title"] = "Menu";
}
@section Scripts {
    <script type="text/javascript">
        function AddToCart(itemTypeKey) {
            console.log(itemTypeKey);
            $.ajax({
                method: "POST",
                url: "/Home/CartAdd",
                data: { ItemId: itemTypeKey.value }
            })
            event.preventDefault();
        }
        function AddToCartOther(itemId) {
         
            $.ajax({
                method: "POST",
                url: "/Home/CartAdd",
                data: { ItemId: itemId }
            })
            //todo add pop up or something to let the user know the item was added sccessfully
            event.preventDefault();
        }
        function cartCountUpdate() {
            console.log("CART COUNT")
            
            $('#cartCount').load(document.URL + ' #cartCount');
            event.preventDefault();
        }
    </script>
}
<h1>Menu</h1>
@foreach (var menuItemGrops in Model.GroupBy(i => i.Type))
{
    <h2>@menuItemGrops.Key</h2>
    @if (menuItemGrops.Key == VPWebSolutions.Data.Entities.MenuItemType.Pizza)
    {
        <div class="row">
            @foreach (var myDictionary in menuItemGrops.GroupBy(i => i.Name).ToDictionary(t => t.Key, t => t.ToList()))
            {
                <div class="col-md-3 ">
                    <div class="border rounded p-1">
                        <img src="~/images/@(myDictionary.Value[0].ImageId).jpg" class="menuImg" />
                        <h4>@myDictionary.Key</h4>
                        <select name="pizza" id="@(myDictionary.Value[0].ImageId)">
                            @foreach (var keyValuePair in myDictionary.Value.OrderBy(i => i.Price))
                            {
                                <option value="@keyValuePair.Id">@(((VPWebSolutions.Data.Entities.Pizza)keyValuePair).Size) : @keyValuePair.Price</option>
                                //<p class="p-button" id="price_text">Price: @keyValuePair.Price</p>
                                //<p class="p-button" id="price_text">Size:  @(((VPWebSolutions.Data.Entities.Pizza)keyValuePair).Size)</p>

                            }
                        </select>
                        <button class="btn btn-primary" type="button" onclick="AddToCart(@(myDictionary.Value[0].ImageId)); cartCountUpdate()">Add To Cart</button>

                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var item in menuItemGrops.ToList())
            {
                <div class="col-md-3 ">
                    <div class="border rounded p-1">
                        <img src="~/images/@(item.ImageId).jpg " class="menuImg" />
                        <h4>@item.Name</h4>
                        <p class="p-button">Price: @item.Price.ToString("c")</p>
                        <button class="btn btn-primary" type="button" onclick="AddToCartOther(@item.Id); cartCountUpdate()">Add To Cart</button>
                    </div>
                </div>
            }
        </div>
    }

}

<style>
    h1 {
        font-size: 60px;
    }
    h4 {
        color: orange;
    }
    h1, h2, .p-button {
        color: #DEC20B;
    }
    .p-button, h1, h2, h4 {
        font-weight: bold;
    }
    .menuImg {
        height: 300px;
        width: 100%;
    }
</style>

