@model IEnumerable<VPWebSolutions.Data.Entities.MenuItem>

@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>
@foreach (var menuItemGrops in Model.GroupBy(i => i.Type))
{
    <h2>@menuItemGrops.Key</h2>
    @if (menuItemGrops.Key == VPWebSolutions.Data.Entities.MenuItemType.Pizza)
    {
        <div class="row">
            @foreach (var myDictionary in menuItemGrops.GroupBy(i => i.Name).ToDictionary(t => t.Key, t => t.ToList()))
            {


                <div class="col-md-3 ">
                    <div class="border rounded p-1">
                        <img src="~/images/@(myDictionary.Value[0].ImageId).jpg" class="menuImg" />
                        <h4>@myDictionary.Key</h4>

                        @foreach (var keyValuePair in myDictionary.Value.OrderBy(i => i.Price))
                        {
                            <p id="price_text">Price: @keyValuePair.Price</p>
                            <p id="price_text">Size:  @(((VPWebSolutions.Data.Entities.Pizza)keyValuePair).Size)</p>
                            @using (Html.BeginForm("CartAdd", "Home", new { ItemId = keyValuePair.Id }, FormMethod.Post))
                            {
                                <button class="btn btn-primary" type="submit">Add To Cart</button>
                            }
                        }
                    </div>
                </div>


            }
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var item in menuItemGrops.ToList())
            {

                <div class="col-md-3 ">
                    <div class="border rounded p-1">
                        <img src="~/images/@(item.ImageId).jpg " class="menuImg" />
                        <h4>@item.Name</h4>
                        <p>Price: @item.Price.ToString("c")</p>

                        @using (Html.BeginForm("CartAdd", "Home", new { ItemId = item.Id }, FormMethod.Post))
                        {
                            <button class="btn btn-primary" type="submit">Add To Cart</button>
                        }





                    </div>
                </div>
            }
        </div>

    }

}

<style>
    html, body {
        background-image: linear-gradient(to right, red, yellow);
    }

    h2 {
        background-image: linear-gradient(to right, red, yellow);
    }

    .menuImg {
        height: 300px;
        width: 100%;
    }
</style>

